{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            "ie >= 11",
            ">0.25%",
            "not dead"
          ]
        }
      }
    ]
  ]
}
